In [1]:
import pandas as pd

# Listas de arquivos e códigos
arquivos_cota_vazao = ['86510000_Cota-Vazão_FINAL.csv']
codigos_estacoes_cota = ['86510000']

arquivos_chuva = [
    '86743800_chuva_adotada_FINAL.csv', '86510000_chuva_adotada_FINAL.csv',
    '86490500_chuva_adotada_FINAL.csv', '86406000_chuva_adotada_FINAL.csv',
    '86390900_chuva_adotada_FINAL.csv', '86306000_chuva_adotada_FINAL.csv',
    '86195000_chuva_adotada_FINAL.csv', '86160000_chuva_adotada_FINAL.csv',
    '86117000_chuva_adotada_FINAL.csv', '86100600_chuva_adotada_FINAL.csv'
]
codigos_estacoes_chuva = ['86743800', '86510000', '86490500', '86406000', '86390900',
                          '86306000', '86195000', '86160000', '86117000', '86100600']

# Dataframe mestre inicial
df_master = None

# Função para processar e renomear dataframes
def processar_dataframe(arquivo, codigo, colunas_interesse, prefixo):
    df = pd.read_csv(arquivo)
    df = df[['Data_Hora_Medicao'] + colunas_interesse]
    novos_nomes = {coluna: f"{coluna}_{codigo}" for coluna in colunas_interesse}
    df.rename(columns=novos_nomes, inplace=True)
    return df

# Processar arquivos de cota e vazão
for arquivo, codigo in zip(arquivos_cota_vazao, codigos_estacoes_cota):
    df = processar_dataframe(
        arquivo, codigo, ['Cota_Adotada', 'Vazao_Adotada'], 'Cota_Vazao'
    )
    if df_master is None:
        df_master = df
    else:
        df_master = pd.merge(df_master, df, on='Data_Hora_Medicao', how='outer')

# Processar arquivos de chuva
for arquivo, codigo in zip(arquivos_chuva, codigos_estacoes_chuva):
    df = processar_dataframe(arquivo, codigo, ['Chuva_Adotada'], 'Chuva')
    df_master = pd.merge(df_master, df, on='Data_Hora_Medicao', how='outer')

# Converter 'Data_Hora_Medicao' para datetime
df_master['Data_Hora_Medicao'] = pd.to_datetime(df_master['Data_Hora_Medicao'])

# Ordenar por data e hora
df_master.sort_values('Data_Hora_Medicao', inplace=True)

# Resetar o índice
df_master.reset_index(drop=True, inplace=True)

C:\Users\fabri\AppData\Local\Temp\ipykernel_10052\3376695857.py:22: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arquivo)
C:\Users\fabri\AppData\Local\Temp\ipykernel_10052\3376695857.py:22: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arquivo)
C:\Users\fabri\AppData\Local\Temp\ipykernel_10052\3376695857.py:22: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arquivo)
C:\Users\fabri\AppData\Local\Temp\ipykernel_10052\3376695857.py:22: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arquivo)
C:\Users\fabri\AppData\Local\Temp\ipykernel_10052\3376695857.py:22: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arquivo)
C:\Users\fabri\AppData\Local\Temp\ipykernel_10052\3376695857.py:22: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arquivo)
C:\Users\fabri\AppData\Local\Temp\ipykernel_10052\3376695857.py:22: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arquivo)

In [2]:

#faz um relatorio do numero de valores nulos de cada coluna
df_master.isnull().sum()

Data_Hora_Medicao            0
Cota_Adotada_86510000        0
Vazao_Adotada_86510000       0
Chuva_Adotada_86743800    2627
Chuva_Adotada_86510000       0
Chuva_Adotada_86490500       1
Chuva_Adotada_86406000       1
Chuva_Adotada_86390900    4500
Chuva_Adotada_86306000       1
Chuva_Adotada_86195000       1
Chuva_Adotada_86160000    7147
Chuva_Adotada_86117000    2561
Chuva_Adotada_86100600    3949
dtype: int64

In [2]:
#Preenche os valores nulos com 0
df_master.fillna(0, inplace=True)

In [3]:

#faz um relatorio do numero de valores nulos de cada coluna
df_master.isnull().sum()

Data_Hora_Medicao         0
Cota_Adotada_86510000     0
Vazao_Adotada_86510000    0
Chuva_Adotada_86743800    0
Chuva_Adotada_86510000    0
Chuva_Adotada_86490500    0
Chuva_Adotada_86406000    0
Chuva_Adotada_86390900    0
Chuva_Adotada_86306000    0
Chuva_Adotada_86195000    0
Chuva_Adotada_86160000    0
Chuva_Adotada_86117000    0
Chuva_Adotada_86100600    0
dtype: int64

In [4]:
# Salva o dataframe mestre
df_master.to_csv('0001_Master.csv', index=False)
df_master

,Data_Hora_Medicao,Cota_Adotada_86510000,Vazao_Adotada_86510000,Chuva_Adotada_86743800,Chuva_Adotada_86510000,Chuva_Adotada_86490500,Chuva_Adotada_86406000,Chuva_Adotada_86390900,Chuva_Adotada_86306000,Chuva_Adotada_86195000,Chuva_Adotada_86160000,Chuva_Adotada_86117000,Chuva_Adotada_86100600
0,2019-01-01 00:00:00,175.0,153.80,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019-01-01 01:00:00,173.0,150.30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019-01-01 02:00:00,171.0,146.80,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019-01-01 03:00:00,170.0,145.10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019-01-01 04:00:00,169.0,143.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49676,2024-08-31 20:00:00,194.0,188.74,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49677,2024-08-31 21:00:00,193.0,186.66,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49678,2024-08-31 22:00:00,191.0,182.52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49679,2024-08-31 23:00:00,190.0,180.47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49680,2024-09-01 00:00:00,188.0,176.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0